.product_wrapper {
    width: 67%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.product_descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.img_container{
    height: 100%;
}
.img_container img {
    max-height: 300px;
    max-width: 300px;
}

